
header {
  background-color: #ffb6c1;
}
body {
  text-align: center;
}
h1 {
  padding-top: 40px;
}
h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
