
header {
  background-image: url("pic.png");
  background-size: cover;
}
body {
  text-align: center;
  font-family: helvetica;
  color: red;
}
h1 {
color: white;
  padding-top: 60px;
}
h3 {
color: white;
  padding-top: 20px;
  padding-bottom: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: red;
}
.active {
    background-color: #4CAF50;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
}
.w3-container {
  background-color: black;
}
