
header {
  background-image: url("bridge.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}
.w3-container {
  margin: auto;
}
.navbar navbar-inverse{
  align-items: left;
}
body {
  text-align: center;
  color: black;
  font-family: 'Cabin Sketch', cursive; regular;
}
h1 {
  color: black;
  padding-top: 20px;
  font-size: 50px;
}
.head {
color: black;
font-size: 30px;
  padding-top: 10px;
  padding-bottom: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: red;
}
.active {
    background-color: #4CAF50;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
}
.w3-container {
  background-color: #D3D3D3;
}
h4 {color: black;}
a{color: red;
}
blockquote{
  border-width: thick;
  border-style: solid;
  border-spacing: inherit;
  border-color:#ADD8E6;
  text-align: center;
  margin: auto;
}

.col-sm-4 {
  border-width: medium;
  border-style: solid;
  border-color: #ADD8E6;
  border-spacing: 20px;
}
