
header {
  background-image: url("pic1.jpg");
  background-size: cover;
}
body {
  text-align: center;
  font-family: helvetica;
}
h1 {
  padding-top: 60px;
}
h3 {
  padding-top: 20px;
  padding-bottom: 60px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a {
    display: block;
    width: 60px;
}
